{% include 'layouts/header.twig' with {'title': title} %}
  <table class="table">
			<thead>
				<tr>
					<th scope="col">Id</th>
					<th scope="col">Описание</th>
				</tr>
			</thead>
			<tbody>
			{% for record in records %}
				<tr data-id="{{record.id}}" class="record">
					<td>{{record.id}}</td>
					<td>{{record.name}}</td>
				</tr>
			{% endfor %}
			</tbody>
		</table>
{% include 'layouts/footer.twig' %}
