<!DOCTYPE html>
<html lang="ru-Ru" xmlns="http://www.w3.org/1999/html">
	<head itemscope itemtype="http://schema.org/WPHeader">
		<meta charset="utf-8">
		<title itemprop="headline">{{ title }}</title>
		<meta content="width=device-width, initial-scale=1.0, minimum-scale=0.86" name="viewport">

		<meta name="MobileOptimized" content="320">
		<link rel="stylesheet" href="/bundles/css/libs/bootstrap.min.css">
		<link rel="stylesheet" href="/bundles/css/style.css">
	</head>
	<body>
	<main role="main" class="container">
